TRACKER_TIMEOUT_SECONDS=30
TRACK_TRACE_ENABLED=true
ENABLE_SCREENSHOTS=false
SCREENSHOT_DIR=./screenshots
PLAYWRIGHT_HEADLESS=true
PLAYWRIGHT_SLOWMO_MS=0
OXYLABS_ENABLED=false
OXYLABS_USERNAME=
OXYLABS_PASSWORD=
OXYLABS_ENDPOINT=https://realtime.oxylabs.io/v1/queries
